body{background-image:url('assets/hex_pattern_erased.jpg');margin:0;}

.game-head{display:grid;grid-template-columns: 4fr 2fr 1fr;background-color: #fef6d0;}

.centerit{display:  flex;align-items: center;justify-content: center;}

.logo{grid-row: span 2;}

h1{
    margin:0;padding-left:5px;font-size: 3rem;display: inline;
    font-family: "Jersey 10", sans-serif;text-shadow:2px 0 #050504;
    color:brown;background-color:#fef6d0/* #ffa708*/;

}

button{
    grid-row: span 2;margin:5px;
    font-family: "Jersey 10", sans-serif;text-shadow:2px 0 #050504;
    color:#fef6d0;background-color:brown /*#ffc72c*/;
    border-radius: 10%;
    }


h2{
    margin:0;
    font-family: "Jersey 10", sans-serif;text-shadow:2px 0 #050504;
    color:brown;background-color:#fef6d0/*#ffc72c*/;
}



#hive{height: 75px;width: 75px;margin-left:5px;margin-top: 5px;}
#bee{
    margin:0;
    height: 50px;width: 50px;
    position: relative;
}
